<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.penglan.mail.mapper.DraftMailBaseInfoMapper">

    <cache eviction="LRU"
           size="100"
           readOnly="false"/>
    
    <insert id="insertOne">
        INSERT INTO
          draft_mail_base_info(
            pk_MailBaseInfo,
            pk_MailEntity,
            `from`,
            `to`,
            subject,
            sentDate,
            owner,
            msgUID,
            flag
          )
        VALUES
          (
            #{pk_mailBaseInfo},
            #{pk_mailEntity},
            #{from},
            #{to},
            #{subject},
            #{sentDate},
            #{owner},
            #{msgUID},
            #{flag}
          )
    </insert>
    
    <select id="selectByOwner" resultType="pers.penglan.mail.model.DraftMailBaseInfoVO">
        SELECT
          pk_MailBaseInfo,
          pk_MailEntity,
          `from`,
          `to`,
          subject,
          sentDate,
          owner,
          msgUID,
          flag
        FROM
          draft_mail_base_info
        WHERE
          owner = #{owner}
    </select>

    <insert id="insertList">
        INSERT INTO
          draft_mail_base_info(
            pk_MailBaseInfo,
            pk_MailEntity,
            `from`,
            `to`,
            subject,
            sentDate,
            owner,
            msgUID,
            flag
          )
        VALUES
          <foreach collection="list" item="item" separator=",">
              (
                #{item.pk_mailBaseInfo},
                #{item.pk_mailEntity},
                #{item.from},
                #{item.to},
                #{item.subject},
                #{item.sentDate},
                #{item.owner},
                #{item.msgUID},
                #{item.flag}
                )
          </foreach>
    </insert>

    <delete id="deleteByPk_MailBaseInfo">
        DELETE FROM
          draft_mail_base_info
        WHERE
          pk_MailBaseInfo = #{pk_MailBaseInfo}
    </delete>

    <update id="update">
        UPDATE
          draft_mail_base_info
        SET
        <if test="pk_mailEntity != null and pk_mailEntity != ''">
            pk_MailEntity = #{pk_mailEntity},
        </if>
        <if test="from != null and from != ''">
            `from` = #{from},
        </if>
        <if test="to != null and to != ''">
            `to` = #{to},
        </if>
        <if test="subject != null and subject != ''">
            subject = #{subject},
        </if>
        <if test="sentDate != null and sentDate != ''">
            sentDate = #{sentDate},
        </if>
        <if test="owner != null and owner != ''">
            owner = #{owner},
        </if>
        <if test="msgUID != null and msgUID != ''">
            msgUID = #{msgUID},
        </if>
        <if test="flag != null">
            flag = #{flag},
        </if>
          pk_MailBaseInfo = #{pk_mailBaseInfo}
        WHERE
          pk_MailBaseInfo = #{pk_mailBaseInfo}
    </update>
    
</mapper>